body{
  background-color: #F9F5EB;
}

.window{
  height: 75vh;
  width: 75%;
  background-color: #adaaa8;
  border-radius: 35px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.title{
  font-family: "Oswald";
  width: 50%;
  letter-spacing: 1px;
  margin: auto;
  text-align: center;
}

.title h1{
  color: #33186B;
}

.title h1 span{
  color: #514ca3;
}

.prompt-div{
  width: 100%;
  text-align: center;
  overflow: auto;
  position: absolute;
  bottom: 2%;
}

.prompt{
  width:80%;
  height: 40px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  font-size: 1.2rem;
  font-family: "Bree Serif";
}

.send-btn{
  height: 40px;
  width: 40px;
  margin-left: 5px;
  position: absolute;
  bottom: 17%;
  cursor: pointer;
}

.send-btn:hover{
  transform: scale(1.2);
}

.response{
  width: 90%;
  height: 78%;
  overflow: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none;
  font-size: 20px;
  margin-left: 5%;
  font-family: "Bree Serif";
  text-align: justify;
}

.response::-webkit-scrollbar {
  display: none;
}

.user, .bot{
  display: flex;
}

.user p, .bot p{
  margin: auto 0;
  color: #2D2727;
}

.user img , .bot img{
  height: 40px;
  width: 40px;
  margin: 2%;
}

.footer{
  width: 100%;
  text-align: center;
}

.copy-right{
  font-family: "Bree Serif";
  color:#8F43EE;
  cursor: pointer;
}

.copy-right:hover{
  color: #FF004D;
}

.imageSense-footer{
  font-family: "Bree Serif";
  color: #33186B;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .window{
    height: 75vh;
    width: 100%;
  }

  .prompt-div{
    text-align:justify;   
  }
  
  .prompt{
    width:75%;
    height: 35px;
    margin-left: 5%;
  }
  
  .send-btn{
    height: 35px;
    width: 35px;
  }  

  .user, .bot{
    margin-top: 15px;
  }

  .user img , .bot img{
    height: 35px;
    width: 35px;
  }
}
